@import 'normalize.css';

body { font-family: sans-serif; }
a {
  color: inherit;
  text-decoration: none;
}

.button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  font-family: sans-serif;
  height: 32px;
  line-height: 30px;
  padding: 0 14px;
}

.button.small {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0px 8px;
}

.button:hover {
  opacity: 0.7;
}

h1, h2, h3, h4, h5 { font-family: sans-serif; }
code { font-size: 0.9em; }
pre {
  background: #000;
  border-radius: 4px;
  color: #FFF;
  margin: 1em;
  padding: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.container { margin: auto 1em; }

main > header {
  color: #444;
  font-weight: bold;
  margin: 2em auto 4em;
}
main > header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main > header .brand {
  align-items: center;
  cursor: pointer;
  display: flex;
}
main > header svg {
  margin-right: 1em;
}

main > footer {
  font-size: 0.8em;
  color: #AAA;
  height: 3em;
  display: flex;
  align-items: center;
}

article { margin-bottom: 6em; }
article a:hover { opacity: 0.7; }
article header {
  color: #666;
  display: flex;
  font-size: 0.8em;
  line-height: 1.2em;
  height: 4em;
  flex-direction: row;
}
article header .author { color: #111; }
article header .display { margin-right: 1em; }
article header .display img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
article header .meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .body {
  font-family: serif;
  line-height: 1.5;
  text-align: justify;
}
article .body a  { text-decoration: underline dotted; }
article .body h1 { font-size: 1.8em; }

@media screen and (min-width: 800px) {
  .container {
    margin: auto;
    max-width: 600px;
  }
  .container.wide { max-width: 800px; }
}