@import 'normalize.css';

body { font-family: sans-serif; }
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  font-family: sans-serif;
  height: 32px;
  line-height: 30px;
  padding: 0 14px;
}

.button.small {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0px 8px;
}

.button:hover {
  opacity: 0.7;
}

h1, h2, h3, h4, h5 { font-family: sans-serif; }
code { font-size: 0.9em; }
pre {
  background: #000;
  border-radius: 4px;
  color: #FFF;
  margin: 1em;
  padding: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
main { margin: 2em; }
.container { margin: 1em auto; }

main > header {
  color: #444;
  margin: 2em auto 4em;
}
main > header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main > header .brand {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: bold;
}
main > header svg {
  margin-right: 1em;
}

main > footer {
  align-items: baseline;
  color: #AAA;
  display: flex;
  font-family: monospace;
  font-size: 0.9em;
  justify-content: flex-end;
  margin: 1em;
}
main > footer svg { margin-right: 5px; }
main > footer svg path { fill: #AAA; }

article { margin-bottom: 6em; }
article a:hover { opacity: 0.7; }
article header {
  color: #666;
  display: flex;
  font-size: 0.8em;
  line-height: 1.2em;
  height: 4em;
  flex-direction: row;
  margin: auto;
}
article h1.title {
  margin: 1em auto;
}
article header .author { color: #111; }
article header .display { margin-right: 1em; }
article header .display img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}
article header .meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .body {
  font-family: serif;
  line-height: 1.5;
}
article .body > * { margin: 1em auto; }
article .body a  { text-decoration: underline dotted; }
article .body h1 { font-size: 1.8em; }
article .body section.footnotes { margin: 3em auto; }
article .body section.footnotes::before { content: 'Notes:'; }
article .body hr.footnotes-sep { display: none; }
article .body figure img { width: 100%; }
article .body section.footnotes,
article .body figure figcaption {
  color: #777;
  font-family: monospace;
  font-size: 0.9em;
}

@media screen and (min-width: 800px) {
  .container,
  article header,
  article h1.title,
  article .body > * { max-width: 600px; }
  article .body figure { max-width: 70%; }
  main { margin: auto; }
  .container.wide { max-width: 800px; }
}